<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Address</h4>
                <ul>
                    <li><a href="#"><i class="fa-solid fa-phone"></i> +91 97313 12275</a></li>
                    <li><a href="#" style="text-transform: lowercase;"><i class="fa-solid fa-envelope"></i> info&#64;sanchar6t.com</a></li>
                    <li><a href="#"><i class="fa-solid fa-location-dot"></i> No 93, 4th Main Mahadeshwarangar, Bangalore - 560091</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="#">Operator/Agent Login</a></li>
                    <li><a href="#">Book a Bus</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Information</h4>
                <ul>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Bus Services</a></li>
                    <li><a href="#">Key Statistics</a></li>
                    <li><a href="#">Passenger Safety</a></li>
                    <li><a href="#">Package Tour</a></li>
                    <li><a href="#">Hotel Booking</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Follow Us</h4>
                <div class="social-links">
                    <a class="fb" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="twitter" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="ig" href="#"><i class="fab fa-instagram"></i></a>
                    <a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

<section class="copyright">
    <div>
        <span>© All rights reserved</span>
        <span class="pipeLine">|</span>
        <span>Engineered with Love</span>
    </div>

    <div>
        <span>Terms & Conditions</span>
        <span class="pipeLine">|</span>
        <span>Privacy Policy</span>
        <span class="pipeLine">|</span>
        <span>Cancellation Refund</span>
    </div>
</section>