<div class="packages">
    <div class="infoDiv">
        <button routerLink="/admin/bus-add-package">Add Package</button>
        <div class="totalPackages">
            <h4>Total Packages</h4>
            <h4>3</h4>
        </div>
        <div class="newPackages">
            <h4>New Packages</h4>
            <h4>5</h4>
        </div>
        <div class="topRoute">
            <h4>Top Route</h4>
            <div class="routes">
                <span>
                    <span>Bangalore</span>
                    <i class="fa-solid fa-ellipsis"></i>
                    <span>Tirupati</span>
                </span>
                <span>
                    <span>Chennai</span>
                    <i class="fa-solid fa-ellipsis"></i>
                    <span>Hyderabad</span>
                </span>
                <span>
                    <span>Hyderabad</span>
                    <i class="fa-solid fa-ellipsis"></i>
                    <span>Mumbai</span>
                </span>
            </div>
        </div>
    </div>
    <div class="packagesDiv">
        <h1>Packages</h1>
        <div class="gridDivCard">
            <div class="divCard" *ngFor="let item of [].constructor(3)">
                <section>
                    <img src="assets/tirupati.jpg" alt="Quintessence of French Culture">
                    <i class="fa-solid fa-pen-to-square"></i>
                    <i class="fa-solid fa-trash"></i>
                    <span class="price">From Rs 1500</span>
                </section>
                <div class="contents">
                    <i class="fa-solid fa-location-dot"></i>&nbsp;
                    <span>Andhra Pradesh, India</span><br>
                    <div class="icon">
                        <span>Tirupati</span>
                        <span><i class="fa-solid fa-calendar"></i> 4 Days</span>
                        <span><i class="fa-solid fa-star"></i> 4.3 (11 Reviews)</span>
                    </div>

                    <p>Tirupati is a city in the Indian state of Andhra Pradesh. Its Sri Venkateswara Temple sits atop
                        one
                        of
                        the the 7 peaks of Tirumala Hills, attracting scores of Hindu pilgrims. Sri Venkateswara
                        National
                        Park,
                        home to the temple, also contains the Sri Venkateswara Zoological Park with lions and primates.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="newPackages">
    <h1>New Packages</h1>
    <div class="gridDivCard">
        <div class="divCard" *ngFor="let item of [].constructor(3)">
            <section>
                <img src="assets/tirupati.jpg" alt="Quintessence of French Culture">
                <i class="fa-solid fa-pen-to-square"></i>
                <i class="fa-solid fa-trash"></i>
                <span class="price">From Rs 1500</span>
            </section>
            <div class="contents">
                <i class="fa-solid fa-location-dot"></i>&nbsp;
                <span>Andhra Pradesh, India</span><br>
                <div class="icon">
                    <span>Tirupati</span>
                    <span><i class="fa-solid fa-calendar"></i> 4 Days</span>
                    <span><i class="fa-solid fa-star"></i> 4.3 (11 Reviews)</span>
                </div>

                <p>Tirupati is a city in the Indian state of Andhra Pradesh. Its Sri Venkateswara Temple sits atop
                    one
                    of
                    the the 7 peaks of Tirumala Hills, attracting scores of Hindu pilgrims. Sri Venkateswara
                    National
                    Park,
                    home to the temple, also contains the Sri Venkateswara Zoological Park with lions and primates.
                </p>
            </div>
        </div>
    </div>
</div>