<div class="inputFields">
    <div>
        <label for="">City Name</label> 
        <input type="text">
    </div>
    <div>
        <label for="">State Id</label>
        <input type="number" min="0">
    </div>
    <div>
        <label for="">State Code</label>
        <input type="text"> 
    </div>
    <div>
        <label for="">State Name</label>
        <input type="text">
    </div>
    <div>
        <label for="">Country Id</label>
        <input type="number" min="0">
    </div>
    <div>
        <label for="">Country Code</label>
        <input type="text"> 
    </div>
    <div>
        <label for="">Country Name</label>
        <input type="text">
    </div>
    <div>
        <label for="">Town</label>
        <input type="text">
    </div>
</div>