<div class="inputFields">
    <div>
        <label for="">Country Name</label>
        <input type="text">
    </div>
    <div>
        <label for="">ISO 3</label>
        <input type="text">
    </div>
    <div>
        <label for="">ISO 2</label>
        <input type="text">
    </div>
    <div>
        <label for="">Numeric Code</label>
        <input type="text">
    </div>
    <div>
        <label for="">Phone Code</label>
        <input type="text">
    </div>
    <div>
        <label for="">Capital</label>
        <input type="text">
    </div>
    <div>
        <label for="">Currency</label>
        <input type="text">
    </div>
    <div>
        <label for="">Currency Name</label>
        <input type="text">
    </div>
    <div>
        <label for="">TLD</label>
        <input type="text">
    </div>
    <div>
        <label for="">Numeric Code</label>
        <input type="text">
    </div>
    <div>
        <label for="">Native</label>
        <input type="text">
    </div>
    <div>
        <label for="">Region</label>
        <input type="text">
    </div>
    <div>
        <label for="">Region ID</label>
        <input type="number" min="0">
    </div>
    <div>
        <label for="">Sub-region</label>
        <input type="text">
    </div>
    <div>
        <label for="">Sub-region ID</label>
        <input type="number" min="0">
    </div>
    <div>
        <label for="">Nationality</label>
        <input type="text">
    </div>
    <div class="submitClear">
        <button>Submit</button>
        <button>Clear</button>
    </div>
</div>